		body {
			background:	#eee;
			padding:	10px;
		}

		h1 {
			font-size:	165%;
			font-family: 'Ubuntu' , sans-serif;
		}

		h2 {
			font-family: 'Ubuntu' , sans-serif;
		}

		h3 {
			font-family: 'Ubuntu' , sans-serif;
			font-size:	130%;
		}
		
		h4 {
			font-size:	110%;
			font-weight: 500;
			font-family: 'Ubuntu' , sans-serif;
		}

		nav ul li {
			font-family: 'Ubuntu' , sans-serif;
		}

		article {
			max-width: 	55em;
			background:	white;
			padding:	2em;
			margin:		1em auto;
		}

		.table-of-contents {
			float:		right;
			width:		30%;
			background:	#eee;
			font-size:	0.8em;
			padding: 	1em 2em;
			margin:		0 0 0.5em 0.5em;
		}
		
		.table-of-contents ul {
			padding:	0;
		}
		
		.table-of-contents li {
			margin:	0 0 0.25em 0;
		}
		
		.table-of-contents a {
			text-decoration:	none;
		}
		
		.table-of-contents a:hover,
		.table-of-contents a:active {
			text-decoration:	underline;
		}

		h3:target {
			animation:	highlight 1s ease;
		}

		@keyframes highlight {
			from	{ background: yellow; }
			to		{ background: white; }
		}
    
		.heading {
			margin-top:		0px;
			line-height:	1;
			color:			black;
			font-size:		400%;
			font-family: 'Ubuntu' , sans-serif;
		}
		
		.tagline {
			margin-top:		0px;
			line-height:	1;
			color:			black;
			font-size:		230%;
			font-family:	sans-serif;
		}
/* Menu */
    #blackBar{
      color:white;
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height:30px;
      background-color:black;
    }

    #buttons {
      overflow: hidden;
      height: 100%;
    }

    .button {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 2px;
      background: #404040;
      color: #eee;
      text-align: center;
      border-radius: 0.1em;
      font-weight: 700;  
    }
    
    .button:hover {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 2px;
      background: #4f4f4f;
      color: #eee;
      text-align: center;
      border-radius: 0.1em;
      font-weight: 700;  
    }

    .outer1 {
        position: relative;
        float: left;
        width: 20%;
        height: 100%;
    }

    .outer2 {
        position: relative;
        float: left;
        width: 60%;
        height: 100%;
    }